<!DOCTYPE html>
<html lang="zh-hans-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section> 
      <ul class="menu-md d-flex">
        <li class="label-md py-12  d-none d-md-block product-btn"><a  href="products-list.html">商品列表</a></li>
        <li class="label-md  py-12 d-none d-md-block history-btn"><a  href="history.html">品牌故事</a></li>
    </ul></section>
    <section >
    <div class="hero-banner hero-banner-md" >
      <div class="hero-text hero-text-md">
      <h1 class="hero-title text-on-dark display-1 mb-16 display-md-2">URBNSTEP</h1>
      <p class="text-on-dark h3  mb-48 h5-md mb-md-32">Your Step, Your Statement</p>
      <button class="btn border-radius-sm">立即選購</button>
      </div>
    </div>
      </section>
    <main >
      <section class="container py-64 py-md-40"  > 
      <div class="hero-text">
      <h2 class="text-align-center mb-12 display-2 mb-md-8 h2-md">New Arrival</h2>
      <p class="text-align-center mb-32 h2 h4-md mb-md-24">新品上市</p>
    </div>
      <ul class="row New-Arrival New-Arrival-md d-flex f-wrap card-md-row">
        <li class=" col-6 card-md-col-2">
          <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-1.png?raw=true" alt="">
          <h3 class="mb-4 h5 h6-md">Monoverse</h3>
          <p class="label-md">NT$3,600</p>
        </li>
        <li class="col-6 card-md-col-2">
          <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-2.png?raw=true" alt="">
          <h3 class="mb-4 h5 h6-md">PLATFORM 404</h3>
          <p class="label-md">NT$2,600</p>
        </li>
        <li class="col-6 card-md-col-2">
          <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-3.png?raw=true" alt="">
          <h3 class="mb-4 h5 h6-md">URBN Force</h3>
          <p class="label-md">NT$3,200</p>
        </li>
        <li class="col-6 card-md-col-2">
          <img class="mb-12 mb-md-8" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/new-4.png?raw=true" alt="">
          <h3 class="mb-4 h5  h6-md">Mode90</h3>
          <p class="label-md">NT$4,000</p>
        </li>
      </ul>
      </section>
      <section class="container py-64">
        <h2 class=" mb-16 h2 h4-md py-5 py-md-5">熱銷補貨</h2>
          <ul class="row product-md-row over-flow-x-md-auto">
            <li class=" hot-card col-3 product-md-col">
              <img class=" card-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="">
              <p class="card-text">人氣 No.1</p>
            </li>
            <li class="hot-card  col-3 product-md-col">
              <img class="card-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="">
              <p class=" card-text">人氣 No.1</p>
            </li>
            <li class="hot-card  col-3 product-md-col">
              <img  class="card-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="">
              <p class=" card-text">人氣 No.1</p>
            </li>
            <li class="hot-card  col-3 product-md-col">
              <img  class=" card-img" src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="">
              <p class=" card-text">人氣 No.1</p>
            </li>
          </ul>
      </section>
      <section>
        <div class="banner-sale text-align-center">
          <h3 class="mb-16 d-md-flex flex-md-column">
            <span class="text-on-dark display-2 h2-md">URBNSTEP</span>
            <span class="display-2  pe-24 ps-24 h3-md p-md-0 text-primary-300" >x</span>
            <span class="text-on-dark display-2 h2-md">Kevin Chen</span>
          </h3>
          <h4 class="text-on-dark h2 mb-32 h5-md ">跨界聯名，限量發售</h3>
          <h5 class="text-muted text-lg mb-48 text-md-md">
             <span class="d-md-block">新銳漫畫家 Kevin Chen 親自操刀設計</span> 
             <span class="d-md-none">，</span>
             <span class="d-md-block"> 街頭能量全面引爆！</span>
          </h5>
         <button class="btn border-radius-sm label-md  ">立即搶購</button>
          <img class="img-star" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week3-4/star.svg" alt="">
          <img class="img-sparkle" src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/14f2133cdd6d831a3acb833025093d4fcbffc381/2025-week3-4/sparkle.svg" alt="">
          
        </div>
      </section>
      <section>
        <div class=" container py-64">
          <h2 class="mb-16 h2">依系列選購</h2>
            <ul class="row d-flex card-md-row gap-md-12">
              <li class="serices-card col-3 card-md-col-2">
                <div class="serices ">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="">
                   <div class="serices-text">
                  <h4 class="h3 h6-md">URBN RUNNER</h4>
                  <h5 class="h4 h6-md">慢跑系列</h5>
                </div>
                </div>
              </li>
              <li class="series-card col-3 card-md-col-2">
                 <div class="serices d-flex ">
                  <img  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="">
                   <div class="serices-text">
                  <h4 class="h3 h6-md">STREETMODE</h4>
                  <h5 class="h4 h6-md" >滑板系列</h5>
                </div>
                 </div>    
              </li>
              <li class="series-card col-3 card-md-col-2">
                <div class="serices">
                    <img  src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-9.png?raw=true" alt="">
                    <div class="serices-text">
                    <h4 class="h3 h6-md">CHUNK DISTRICT</h4>
                    <h5 class="h4 h6-md">厚底系列</h5>
                  </div>
                  </div>
              </li>
              <li class="series-card col-3 card-md-col-2">
                <div class="serices">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="">
                  <div class="serices-text">
                  <h4 class="h3 h6-md">COLLAB ZONE</h4>
                  <h5 class="h4 h6-md">聯名企劃</h5>
                </div>  
                </div>
              </li>
            </ul>          
        </div>
      </section> 
      <section>
        <div class="container py-64 py-md-40">
          <h2 class="h2 mb-16">穿搭靈感</h2>
          <div class="content-row over-flow-x-md-auto">
            <div class="content-col-4">
               <div class="content-row">
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-1.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-2.png?raw=true" alt="">
                </div>
                <div class="content-col-12">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-3.png?raw=true" alt="">
                </div>
               </div>
             </div>
            <div class="content-col-4">
               <div class="content-row">
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-4.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-5.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-6.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-7.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-8.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-9.png?raw=true" alt="">
                </div>

               </div>
            </div>
            <div class="content-col-4">
               <div class="content-row">
                <div class="content-col-12">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-10.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-11.png?raw=true" alt="">
                </div>
                <div class="content-col-6">
                  <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week3-4/inspiration-12.png?raw=true" alt="">
                </div>

               </div>
            </div>
          </div>
        </div>
      </section>
     

    </main>

    <%- include('./layout/banner'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
