<!DOCTYPE html>
<html lang="zh-hans-tw">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
      <main class="mt-32 mb-32 mt-md-16 ">
        <!-- 麵包屑 -->
        <div class="container">
            <div class="breadcrumb mb-24 mb-md-12">
                <ol class="d-flex">
                    <li class="breadcrumb-item" ><a class="active label-md label-md-sm" href="index.html">首頁</a></li>
                    <li class="breadcrumb-item" ><a class="label-md label-md-sm" href="#">女鞋</a></li>
                    <li class="breadcrumb-item label-md label-md-sm" >所有商品</li>
                </ol>
            </div>
        </div>
        <!-- title -->
        <div class="container ">
            <h2 class="title mb-24  py-7 h3 mb-md-12 h4-md">女鞋</h2>
        <!-- category -->
            <div class="row row-md ">
                <div class="col-2 d-md-none ">
                    <nav>
                        <ul >
                            <li><a class="label-md py-8 d-block mb-16 active" href="#">所有商品</a></li>
                            <li><a class="label-md py-8 d-block mb-16" href="#">慢跑鞋</a></li>
                            <li><a class="label-md py-8 d-block mb-16" href="#">滑板鞋</a></li>
                            <li><a class="label-md py-8 d-block mb-16" href="#">厚底鞋</a></li>
                            <li><a class="label-md py-8 d-block" href="#">限定 / 聯名企劃</a></li>
                        </ul>
                    </nav>

                </div>
            
        <!-- products-list -->
             <div class="col-10 col-md-4 ">
                <div class="row">
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">PLATFORM 404</p>
                        <p class="mt-4 label-md">NT$2,600</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-1.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">PLATFORM 404</p>
                        <p class="mt-4 label-md">NT$2,600</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-2.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">VM001</p>
                        <p class="mt-4 label-md">NT$2,600</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-3.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">Melty Kiss</p>
                        <p class="mt-4 label-md">NT$4,000</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">BOOMBLOK</p>
                        <p class="mt-4 label-md">NT$3,200</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-5.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">BOOMBLOK</p>
                        <p class="mt-4 label-md">NT$3,200</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-6.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">R:UNER</p>
                        <p class="mt-4 label-md">NT$4,000</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-7.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">Sugar Snap</p>
                        <p class="mt-4 label-md">NT$4,000</p>
                        </a>
                        </div>
                    </div>
                    <div class="col-4 col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-8.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">Neofoam</p>
                        <p class="mt-4 label-md">NT$4,000</p>
                        </a>
                        </div>
                    </div>
                     <div class="col-4 d-none d-md-block col-md-2">
                        <div class="products-card mb-48">
                        <a href="product.html" alt="product">
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week2/product-4.png?raw=true" alt="">
                        <h2 class="mt-12 h6 ">Buttermood</p>
                        <p class="mt-4 label-md">NT$4,000</p>
                        </a>
                        </div>
                    </div>

                </div>
                <!-- pagination -->
                 <ul class="pagination d-flex justify-center align-items-center mb-md-16 ">
                    <li><button type="button" class="btn me-12"><i class="bi bi-chevron-left"></i></button></li>
                    <li><button type="button" class="btn me-8 p12-16 active">1</button></li>
                    <li><button type="button" class="btn p12-16 me-8" >2</button></li>
                    <li><button type="button" class="btn p12-16 me-8">3</button></li>
                    <li><button type="button" class="btn p12-16 me-8">...</button></li>
                    <li><button type="button" class="btn p12-16 me-8">10</button></li>
                    <li><button type="button" class="btn "><i class="bi bi-chevron-right"></i></button></li>
                 </ul>
             </div>
            </div>
        </div>


    </main>

     <%- include('./layout/banner'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>